#navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(174, 167, 167);
  height: 60px;
}
#navbar > div:nth-child(1) {
  position: relative;
  margin-left: 230px;
  margin-top: 10px;
}
#navbar > div > div {
  margin-top: -37px;
  margin-left: 25px;
  color: rgb(94, 86, 86);
}
#nav2 {
  width: 900px;
  height: 45px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}
#nav2 > button {
  width: 200px;
  margin: auto 20px auto 20px;
  font-size: large;
  /* border: none; */
}
#nav2 > input {
  width: 200px;
  font-size: large;
  margin-left: 20px;
  /* border: none; */
}
